{% extends "base.html" %}

{% block title %}Оформление каюты{% endblock %}

{% block content %}
<h2>Оформление каюты</h2>
<table class="table">
    <tr>
        <th>Цвет стен</th>
        <th>Эмблема</th>
    </tr>
    <tr>
        <td style="
            {% if sex == 'male' %}
                background-color: #007bff;
            {% elif sex == 'female' %}
                background-color: #ff69b4;
            {% else %}
                background-color: #cccccc;
            {% endif %}
            width: 200px;
            height: 100px;
        ">
        </td>
        <td>
            {% if age < 21 %}
                <img src="{{ url_for('static', filename='img/young_emblem.png') }}" class="img-fluid" style="max-height:100px;">
            {% else %}
                <img src="{{ url_for('static', filename='img/adult_emblem.png') }}" class="img-fluid" style="max-height:100px;">
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}